.photo {
    margin: 80px auto;
    width: 90%;
    position: relative;
}
  
.gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.image-container {
    display: flex;
    width: 100%;
    position: relative;
}
  
.image-container img {
    width: 23%;
    border-radius: 10px;
    margin: 0 10px;
}
  
.button-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: calc(100%); /* Adjust width as needed */
    z-index: 1;
    height: 40px
}
  
.next-btn {
    position: absolute;
    right: -70px;
    width: 40px;
    height: 40px
}
  
.back-btn {
    position: absolute;
    left: -70px;
    width: 40px;
    height: 40px
}
  
.slider {
    display: flex;
    transition: transform 0.5s;
    list-style: none;
}
  
.image-wrapper {
    flex: 0 0 auto;
    width: 23%;
    margin: 0 10px;
}
  